<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta  http-equiv="X-HA-Compatible" content="IE=egde">
    <meta name="viewport" content="width=devide-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="'stylesheet" href="css/style.css"/>
</head>
<body>
    <h1>Index</h1>
    <form action="/" method="post">
        <label for="data">Enter your X data:</label>
        <input type="text" id="data-x" name="data-x">
        <label for="data">Enter your Y data:</label>
        <input type="text" id="data-y" name="data-y">
        <button id='btn1' type="submit">Submit</button>
      </form>
    <div id="messages">
        <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
    </div>
    <script src="javascripts/bundle.js" charset="utf-8"></script>
</body>
</html>