<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta  http-equiv="X-HA-Compatible" content="IE=egde">
    <meta name="viewport" content="width=devide-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="'stylesheet" href="css/style.css"/>
</head>
<body>
    <h1>Index</h1>
    <form action="/" method="post">
        <label for="data">Enter your X data:</label>
        <input type="text" id="data-x" name="data-x">
        <label for="data">Enter your Y data:</label>
        <input type="text" id="data-y" name="data-y">
        <label for="data">Enter your order data:</label> 

        <select name="data-order" id="data-order">
            <option value="1">First Order</option>
            <option value="2">Second Order</option>
            <option value="3">Third Order</option>
            <option value="4">Forth Order</option>
            <option value="5">Fifth Order</option>
            <option value="6">Six Order</option>
            <option value="7">Seven Order</option>
            <option value="8">Eight Order</option>
            <option value="9">Nine Order</option>
          </select>

        <button id='btn1' type="submit">Submit</button>
      </form>
        <div id="dw"></div>
        <!-- <a id="btn-download" > download </a> -->
      
    <div id="messages">
        <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
    </div>
    <script src="javascripts/bundle.js" charset="utf-8"></script>
</body>
</html>