<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta  http-equiv="X-HA-Compatible" content="IE=egde">
    <meta name="viewport" content="width=devide-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js" type="text/javascript"></script>
    
    <title>Index</title>
    <link rel="'stylesheet" href="css/style.css"/>
</head>
<body>
    <h1>Index</h1>
    <form action="/" method="post">
        <label for="data">Enter your data:</label>
        <input type="text" id="data" name="data"><br><br>
        
      </form>
    <div>
        <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
    </div>
    <script>
        window.onload = function() {
        // put chart.js code here
        // Ploting
        new Chart("myChart", {
            type: "line",
            data: {
            labels: [0,0.5,1,1.5,2,2.5],
            datasets: [{label:'Input data',backgroundColor: "rgba(0,0,255,1.0)",borderColor: "rgba(0,0,0,0)",data: [0,0.25,1,2.25,4,5.25]},{   label:'2nd Order Polynomial',backgroundColor: "rgba(0,255,0,1.0)",borderColor: "rgba(0,0,0,1)",data: [-0.10714286,0.35714286,1.14285714,2.25,3.67857143,5.42857143]}],
            },
        });
        console.log('html')
        }
    </script>
</body>
</html>